:root {
    --cor-fundo: #B7E6E5; 
    --cor-superficie: #FFFFFF; 
    --cor-texto: #113B3A; 
    --cor-texto-suave: #317978; 
    --cor-marca: #184948; 
    --cor-sobre-marca: #ffffff; 
    --cor-borda: #599D9C; 


    --fonte-texto: system-ui, sans-serif;
    --fonte-titulo: 'Roboto Flex', sans-serif; 

    
    --tamanho-texto: 1rem;
    --tamanho-h3: 1.25rem;
    --tamanho-h2: 1.563rem;
    --tamanho-h1: 1.953rem;


    --espaco-1: 0.5rem;
    --espaco-2: 1rem;
    --espaco-3: 1.5rem;
    --espaco-4: 2rem;

    --raio: 8px;
    --sombra: 0 4px 6px rgba(17, 59, 58, 0.15);
}